@use 'fonts';

.container-book1 {
    background-image: url(../images/pool.png);

    &__card {
        top: 35%;
        left: 15%;
    }

}

.container-book2 {
    background-image: url(../images/ocean.png);

    &__card {
        top: 35%;
        left: 50%;
    }
}

.container-book {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    width: 100%;

    &__country {
        font-family: fonts.$primary-font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 26px;
        letter-spacing: 1.5px;
        color: fonts.$text-color-first;
    }
}

.card--book {
    background-color: fonts.$background-color-card;
    opacity: 0.9;
    width: 500px;
    height: 300px;
    padding: 50px 30px;
    position: relative;
}

@media screen and (max-width: 1200px) {

    .container-book {
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card--book {
        width: 50%;
        height: 300px;
        padding: 30px 10px;
        position: static;
    }
}

@media screen and (max-width: 900px) {

    .container-book {

        &__country {
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 1px;
        }
    }

    .card--book {
        width: 70%;
        height: 330px;
    }
}