@use 'fonts';

.container-book1 {
    background-image: url(../images/pool.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;

    &__card {
        top: 35%;
        left: 15%;
    }

}

.container-book2 {
    background-image: url(../images/ocean.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;

    &__card {
        top: 35%;
        left: 50%;
    }
}

.card--book {
    background-color: fonts.$background-color-card;
    opacity: 0.9;
    width: 450px;
    height: 250px;
    padding: 50px 30px;
    position: relative;
}