@use 'fonts';

.btn {
    background-color: fonts.$decoration-color;
    width: 228px;
    height: 63px;
    border: none;
    font-family: fonts.$secondary-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    margin-top: 30px;
}

.link--btn {
    color: fonts.$primary-color;
    text-decoration: none;
    text-transform: uppercase;
}

.btn--search {
    border: 2px solid #fff;
    margin: 0px;
}