@use 'fonts';

.explore {
    background-image: url(../images/castle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 685px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-explore {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;


    &__card1 {
        display: flex;
        flex-direction: column;
        max-width: 560px;
        width: 100%;
        padding: 10px;
    }

    &__card2 {
        display: flex;
        flex-direction: column;
        width: 560px;
    }

    &__text {
        letter-spacing: 1.6px;
    }

    &__img {
        width: 350px;
        height: 220px;
        margin: 5px;
    }

}

.img-cliff {
    position: relative;
    left: 80px;
}


@media screen and (max-width: 900px) {
    .explore {
        min-height: 500px;
    }

    .container-explore {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 576px) {

    .container-explore {

        &__card1 {
            align-items: center;
            width: 80%;
        }

        &__card2 {
            align-items: center;
        }

        &__text {
            letter-spacing: 1px;
        }

        &__img {
            width: 300px;
            height: 180px;
            margin: 5px;
        }

    }

    .img-cliff {
        position: static;
    }

}