$primary-color: #fff;
$text-color-first: #E8E8E8;
$text-color-second: #FEFEFE;
$background-color: #333;
$background-color-card: #232323;
$decoration-color: #5474FD;
$btn-hover-color: #2b51fc;

$primary-font-family: 'Josefin Sans';
$secondary-font-family: 'Aleo';