@use 'fonts';

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo {
        font-family: fonts.$primary-font-family;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        letter-spacing: 3.36px;
        text-transform: uppercase;
    }

    &__slogan {
        font-family: fonts.$primary-font-family;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 1.6px;
    }

    &__socials {
        display: flex;
        justify-content: space-between;
        width: 166px;
    }

    &__item {
        list-style: none;

    }

    &__icon {
        color: fonts.$primary-color;
    }
}

.fa-linkedin-in {
    color: fonts.$decoration-color;
}