@use 'fonts';



header {
    background-image: url(../images/cliff-big.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 740px;
    display: flex;
    flex-direction: column;
}

.header__input {
    width: 500px;
    height: 63px;
}