@use 'fonts';

@import 'header';
@import 'nav';
@import 'explore';
@import 'icons';
@import 'book';
@import 'review';
@import 'footer';
@import 'buttons';

body {
    display: flex;
    flex-flow: column wrap;
    background-color: fonts.$background-color;
    color: fonts.$primary-color;
}

a {
    color: fonts.$primary-color;
    text-decoration: none;
}

h2 {
    font-family: fonts.$secondary-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 26px;
}

h3 {
    font-family: fonts.$primary-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    text-transform: uppercase;
}

p {
    font-family: fonts.$primary-font-family;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: fonts.$text-color-first;
}


@media screen and (max-width: 900px) {
    h2 {
        font-size: 30px;
        line-height: 20px;
    }

    h3 {
        font-size: 18px;
        line-height: 20px;
    }
}

@media screen and (max-width: 576px) {
    h2 {
        font-size: 20px;
        line-height: 10px;
    }

    h3 {
        font-size: 16px;
        line-height: 10px;
    }
}